/* TODO Add site wide styles */
* {
    box-sizing: border-box;
}

.app-con {
    display: flex;
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Literata', serif;
}

.flex {
    display: flex;
}

.flexcol {
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

i[class*='fa'] {
    color: rgb(128, 255, 0);
}
