.signup-modal {
    border: 1px solid rgb(175,
                59,
                238,
                0.25);
        border-radius: .25rem;
        /* background-color: rgb(34, 14, 46); */
        background: linear-gradient(rgb(49, 20, 66), black);
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
        backdrop-filter: blur(7px);
    padding: 20px;
    width: 25vw;
    display: flex;
    margin: 0 auto;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 95%;
    color: rgb(128, 255, 0, .85);
    /* border: 2px solid red; */
}

.signup-form>div>input{
    background-color: inherit;
    /* border: 1px solid rgb(175,
                59,
                238); */
    border: 1px solid grey;
    border-radius: .25rem;
    padding: 5px;
    color: rgb(215, 212, 212);
    /* margin-bottom: 15px; */
}

.signup-form>*{
    width: 100%;
    margin-bottom: 15px;
}

.signup-form>button{
    background: linear-gradient(rgb(175,
                    59,
                    238, .75), rgba(99, 34, 135, 0.75));
        /* border: 1px solid rgb(128, 255, 0); */
        border: none;
        border-radius: .25rem;
        padding: 5px;
        color: rgb(128, 255, 0);
}
.signup-form>button:hover{
    background: linear-gradient(rgb(175,
                    59,
                    238), rgba(99, 34, 135))
}


.errors {
    color: rgb(128, 255, 0, .90);
}

/*------LOGIN------- */

.login-modal {
    border: 1px solid rgb(175,
                59,
                238,
                0.25);
        border-radius: .25rem;
        /* background-color: rgb(34, 14, 46); */
        background: linear-gradient(rgb(49, 20, 66), black);
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
        backdrop-filter: blur(7px);
        padding: 20px;
        width: 25vw;
        display: flex;
        margin: 0 auto;
}

.login-form {
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: auto;
        width: 95%;
        color: rgb(128, 255, 0, .85);
}

.login-form>div>input {
    background-color: inherit;
    /* border: 1px solid rgb(128, 255, 0, .90); */
    border: 1px solid grey;
    border-radius: .25rem;
    padding: 5px;
    color: rgb(215, 212, 212);
}

.login-form>* {
    width: 100%;
    margin-bottom: 15px;
}

.login-form>button:first-of-type{
    /* background-color: rgb(128, 255, 0, .90); */
    background: linear-gradient(rgb(175,
            59,
            238, .75), rgba(99, 34, 135, 0.75));
    /* border: 1px solid rgb(128, 255, 0); */
    border: none;
    border-radius: .25rem;
    padding: 5px;
    color: rgb(128, 255, 0);
    /* width: 75%; */
}
.login-form>button:first-of-type:hover{
    background: linear-gradient(rgb(175,
                    59,
                    238), rgba(99, 34, 135))
}

.login-form>button:nth-of-type(2){
    background-color: inherit;
    border: 1px solid rgb(175,
            59,
            238, .75);
    border-radius: .25rem;
    padding: 5px;
    color: rgb(175,
            59,
            238, .75);
}
.login-form>button:nth-of-type(2):hover{
    border: 1px solid rgb(175,
                59,
                238);
    color: rgb(175,
                59,
                238);
}