

.dream-card {
    /* width: 100%; */
    height: 100%;
    width: 100%;
    margin: 0 auto;
    /* border-radius: .5rem; */
    border-top: .25px solid rgb(138, 136, 136);
    /* background-color: rgb(42, 41, 41); */
    
    color: rgb(214, 212, 212);
    display: flex;
    flex-direction: column;
    padding-top: 1rem;  
    padding-bottom: 1rem;  
    padding-left: 1rem;  
    padding-right: .5rem;  
    justify-content: space-between;
    /* overflow: hidden; */
}
.card-title {
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}

.card-body {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    max-height: 30%;
    /* margin-bottom: 10px; */
    overflow: hidden;
}

.card-body > *:not(:first-child) {
    display: none;
}
.card-body > ul>*:not(:first-child) {
    display: none;
}
.card-body > ol> *:not(:first-child) {
    display: none;
}

.card-body > ul > li {
    /* display: flex; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
    /* line-height: 2rem; */
}
.card-body > ol > li {
    /* display: flex; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
    /* line-height: 2rem; */
}
.card-body > * {
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* line-height: 2rem; */
    font-size: 16px;
}

.card-date {
    color: rgb(128, 255, 0);
    font-size: small;

}