.dreams-tab-container {
    width: 80%;
    height: 100%;
    /* border: 2px solid red; */
}

.dream-nav-container {
    /* border: 2px solid green; */
    width: 40%;
    min-height: 100%;
    /* height: fit-content; */
    overflow-y: auto;
    /* background-color: rgb(77, 71, 167); */
    /* background-image: url('../../assets/stars.jpg'); */
    /* margin: 0 auto; */
    background-color: rgb(34, 14, 45);
}

.dream-nav-container::-webkit-scrollbar {
    display: none;

}

.render-view-container {
    width: 100%;
    background-color: rgb(25, 10, 33);
}

.dream-title > * {
    margin: 0;
    padding: 10px; 
    color: rgb(214, 212, 212);   
}

.dream-title {
    padding-left: 30px;
    padding-top: 40px;
    /* border: 2px solid red; */
    position: sticky;
    top: 0;
    align-items: center;
    background-color: inherit;
}
.dream-cards-container {
    min-height: 100%;
    /* border: solid 2px green; */
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    /* overflow: scroll; */
    padding-top: 20px;
}

.dream-cards-container::-webkit-scrollbar {
    display: none;
    
}

.dream-cards-container > * {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 20vh;
    /* border: 2px dotted pink; */
    overflow: hidden;
        white-space: nowrap;
}