.dreams-tab-container {
    width: 75%;
    height: 100%;
    /* border: 2px solid red; */
    background-image: url('../../assets/black-space.jpg');
}

.dream-nav-container {
    /* border: 2px solid green; */
    min-width: 30%;
    max-width: 30%;
    min-height: 100%;
    /* height: fit-content; */
    overflow-y: auto;
    /* background-color: rgb(77, 71, 167); */
    /* background-image: url('../../assets/stars.jpg'); */
    /* margin: 0 auto; */
    background-color: rgb(34, 14, 45);
    background: linear-gradient(rgb(42, 17, 56, 0.45), rgb(34, 14, 45));
    backdrop-filter: blur(1px);
}

.dream-nav-container::-webkit-scrollbar {
    display: none;

}

.render-view-container {
    width: 100%;
    /* background-color: rgb(25, 10, 33, .45); */
    /* backdrop-filter: blur(1px); */
    /* border: 2px solid red; */
}
.dream-title{
    position: sticky;
    top: 0;
    z-index: 10;
    background-image: url(../../assets/black-space.jpg);
}

.dream-title-inner > * {
    margin: 0;
    padding: 10px; 
    color: rgb(214, 212, 212);   
}

.dream-title-inner {
    padding-left: 30px;
    padding-top: 40px;
    /* border: 2px solid red; */
    width: 100%;
    
    align-items: center;
    display: flex;
    /* background-color: inherit; */
    background: linear-gradient(rgb(42, 17, 56, 0.45), rgb(34, 14, 45));
    backdrop-filter: blur(1px);
}
.dream-cards-container {
    min-height: 100%;
    min-width: 98%;
    max-width: 98%;
    /* border: solid 2px red; */
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    /* overflow: scroll; */
    padding-top: 20px;
    margin:0;
}

.dream-cards-container::-webkit-scrollbar {
    display: none;
    
}

.dream-cards-container > * {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 15vh;
    /* border: 2px dotted pink; */
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
}
.dream-cards-container:last-child {
    border-bottom: .25px solid rgb(138, 136, 136);
}

.selected-dream-card > *{
    background-color: #323232;
    border: 2px solid rgb(128, 255, 0);
}

.dream-card-nav:hover{
    background-color: #323232;
     border: 1px solid rgb(128, 255, 0);
}

/* filter component */

.filter-container{
    display: flex;
    flex-direction: column;
    color: rgb(128, 255, 0);
    width: 100%;
    background-color: rgba(153, 52, 207, 0.25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    border: 1px solid rgb(175,
            59,
            238,
            0.25);
    backdrop-filter: blur(3px);
    padding: 10px;
}

.filter-container>h3{
    font-size: medium;
}

.filter{
    background-color: rgb(128, 255, 0);
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    border-radius: 2rem;
    padding: 2px 5px;
}
.filter>button{
    background-color: inherit;
    border: none;
    color: black;
    border-radius: inherit;
}
.filter>button>i{
    color: black;
}