.dream-detail-container {
    width: 100%;
    background-color: rgb(25, 10, 33, .25);
    background: linear-gradient(rgb(25, 10, 33, .25), black);
    backdrop-filter: blur(2px);
    display: flex;
    overflow: auto;
    height: 100%;
    /* border: 2px solid aqua; */
}

.dream-detail-view {
    /* background-color: rgb(25, 10, 33); */
    color: rgb(198, 195, 195);
    /* border: 2px solid green; */
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    /* padding: 15px; */
    padding-top: 0;
    display: flex;
    flex-direction: column;
}

.dream-detail-header {
    /* border: 2px solid red; */
    display: flex;
    
    justify-content: flex-end;
    background-color: inherit;
    width: 100%;
    /* height: 3rem; */
    margin: 0;
    
    padding-top: 10px;
    /* border-radius: 0 0 1rem 1rem; */
}

.detail-date {
    font-size: small;
    color: rgb(128, 255, 0);
    position: absolute;
    right: 0;
    margin-right: 30px;
    /* right: 10%;
    top: 0%; */
    /* transform: translateX(700%); */
    /* justify-self: flex-end; */
}
.detail-title{
    font-size: x-large;
    font-weight: 600;
    color: white;
    min-width: 200px;
    width: 300px;
    /* border: 2px solid red; */
    overflow-wrap: break-word ;
    padding-bottom: 10px;
}

.detail-body {
    margin-top: 20px;
    padding: 20px;
    /* background-color: rgb(48, 47, 47); */
    /* border: 1px solid rgb(175,
                59,
                238,
                0.25);
        border-radius: .25rem;
        background-color: rgba(153, 52, 207, 0.25);
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
        backdrop-filter: blur(3px); */

    min-height: 40vh;
    border-radius: .5rem;
}

.detail-body-top {
    border-bottom: 1px solid grey;
    position: sticky;
    top: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(12, 12, 20);
    /* border-radius: 10px 10px 0 0; */
    /* border: 2px solid red; */
    /* align-self: center; */
}


.detail-button-container {
    display: flex;
    /* border: 2px solid pink; */
}

.detail-button-container > button {
    background-color: inherit;
    color:rgb(128, 255, 0);
    font-weight: 400;
    border: 1px solid rgb(128, 255, 0);
    border-radius: 10px;
    padding: 5px;
    margin: 0 5px
}



/* EDIT DREAM VIEW */
.dream-edit-view {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 80%;
    /* border: 2px solid red; */
    /* justify-content: center; */
}

.dream-edit-view > form {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    width: 100%;
}


.edit-title {
   /* border: 2px solid pink; */
   padding: 0 20px 20px 0;
}
.edit-title > label {
    font-size: large;
    font-weight: 600;
    padding-right: 20px;
}
.edit-date{
    padding: 0 20px 20px 0;
}
.edit-date > label {
    font-size: large;
    font-weight: 600;
    padding-right: 20px;
}

.edit-dream-errors {
    color: rgb(128, 255, 0);
}

.hidden-errors {
    visibility: hidden;
}

.quill {
    background-color: rgb(48, 47, 47);
    height: 50vh;
    /* max-height: 60vh; */
    width: 100%;
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    font-family: 'Literata', serif;
    /* border-radius: .5rem; */
    /* border: 2px solid red; */
}

.ql-container.ql-snow {
    border: none !important;
    height: 87%;
    max-height: max-content;
    width: 100%;
    overflow-wrap: break-word;
    font-family: 'Literata', serif;
    /* display: flex; */
}


.ql-editor {
    height: 100%;
    width: 100%;
    overflow-wrap: break-word;
    
}


.ql-toolbar {
    background-color: rgb(198, 195, 195);
    
}

.edit-form-button {
    align-self: end;
    margin-top: 40px;
}

.edit-form-button > button {
    background-color: rgb(128, 255, 0);
    border: none;
    border-radius: .5rem;
    padding: 5px;
    font-weight: 600;
}

.edit-dream-form>div>input{
    border: 1px solid grey;
        background-color: rgb(48, 47, 47);
        border-radius: .25rem;
        color: rgb(214, 212, 212);
        padding: 5px;
}

.journal-select>select {
    border: 1px solid grey;
    background-color: rgb(48, 47, 47);
    border-radius: .25rem;
    color: rgb(128, 255, 0);
    padding: 5px;
}

.journal-select {
    margin-bottom: 10px;
}
