.journal-detail-container {
    /* border: 2px solid red; */
    background-image: url('../../assets/stars.jpg');
}

.sheep-no-dreams {
    /* border: 2px solid red; */
    width: 350px;
    height: 350px;
    margin: auto;
}

.not-found-container {
    background-color: black;
    color: rgb(128, 255, 0);
    width: 400px;
    height: 150px;
    padding: 20px;
    border-radius: .25rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

.not-found-container>h1{
    margin-bottom: 0;
}

.loading {
    background-color: rgb(25, 10, 33);
    width: 75%;
    height: 100%;
}