.journal-detail-container {
    width: 80%;
    height: 100%;
    /* border: 2px solid red; */
}

.journal-nav-container {
    width: 40%;
    min-height: 100%;
    overflow-y: auto;
    background-color: rgb(34, 14, 45);
}

.journal-nav-container::-webkit-scrollbar {
    display: none;

}

.journal-title>* {
    margin: 0;
    padding: 10px;
    color: rgb(214, 212, 212);
}

.journal-title {
    padding-left: 30px;
    padding-top: 40px;
    /* border: 2px solid red; */
    position: sticky;
    top: 0;
    align-items: center;
    background-color: inherit;
}

.journal-cards-container {
    min-height: 100%;
    min-width: 20vw;
    /* border: solid 2px green; */
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    /* overflow: scroll; */
    padding-top: 20px;
}

.journal-cards-container::-webkit-scrollbar {
    display: none;

}

.journal-cards-container>* {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 15vh;
    /* border: 2px dotted pink; */
    overflow: hidden;
    white-space: nowrap;
    /* margin: 5px auto; */
}

.journal-cards-container:last-child {
    border-bottom: .25px solid rgb(138, 136, 136);
}

.selected-journal-card>* {
    background-color: #323232;
    border: 2px solid rgb(128, 255, 0);
}