.new-journal-modal {
    /* background-color: rgb(35, 35, 35); */
    background-color: rgb(34, 14, 45);
    padding: 20px;
    border-radius: .25rem;
    color: rgb(214, 212, 212);
}
.new-journal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new-journal-form > *{
    margin-top: 10px;
}

.new-journal-h2{
    margin-top: 0;
    margin-bottom: 0;
}

.title-input{
    width: 100%;
    font-size: 12px;
}
.title-input>input{
    background-color: transparent;
    border: .5px solid grey;
    color: rgb(214, 212, 212);
    border-radius: .25rem;
    padding: 5px;
    margin-top: 5px;
}
.modal-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* border: 2px solid red; */
    width: 100%;
}
.submit-button{
    align-self: flex-end;
    background-color: rgb(128, 255, 0);
    border: none;
    border-radius: .25rem;
    padding: 5px;
    font-weight: 600;
    margin-right: 5px;
}
.cancel-button{
    border:1px solid rgb(128, 255, 0);
    color: rgb(128, 255, 0);
    background-color: black;
    border-radius: .25rem;
        padding: 5px;
        font-weight: 600;
        margin-right: 5px;
}
.subtitle-components{
    line-height: 1.5rem;
}