.journals-tab {
    display: flex;
    flex-direction: column;
    width: 75%;
    /* border: 2px solid red; */
    background-color: rgb(34, 14, 45);
    background-image: url('../../assets/black-space.jpg');
    
    color: rgb(214, 212, 212);
    /* padding-left: 30px;
    padding-right: 30px; */
}

.blur-container{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(42, 17, 56, 0.45), rgb(34, 14, 45));
        backdrop-filter: blur(1px);
        padding-left: 30px;
            padding-right: 30px;
    display: flex;
    flex-direction: column;
}

.my-journals {
    padding-top: 10px;
    padding-bottom: 20px;
}

.new-journal-button {
    padding: 10px;
    align-self: flex-end;
}

.new-journal-button > button {
    background-color: transparent;
    border: none;
    color: rgb(128, 255, 0);
}
.new-journal-button>button:hover{
    text-decoration: underline;
}

.hidden {
    display:none;
}

table {
   /* border: 2px solid red; */
   width: 100%;
}

thead {
    display: flex;
}
tbody {
    display: flex;
    flex-direction: column;
}

tbody>tr:nth-child(odd){
    background-color: rgba(73, 30, 96, .75);
    /* border: 2px solid red; */
}

tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* border: 2px solid green; */
}

.table-title {
    width: 30%;
    display: flex;
    align-items: center;
}
.table-title > * {
    padding: 5px;
}


.table-menu > * {
    padding: 5px;
}
.header-title {
    padding-left: 25px;
}

.table-entries {
    width: 10%;
    display: flex;
    align-items: center;
    padding: 5px;
}

.table-updated {
    width: 30%;
    display: flex;
    align-items: center;
    padding: 5px;
    /* visibility: hidden; */
}
.table-shared {
    visibility: hidden;
    width: 15%;
    display: flex;
    align-items: center;
    padding: 5px;
    /* border: 2px solid green; */
}
.table-menu {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

td>button {
    background-color: transparent;
    border: none;
}

.journal-entry {
    padding-left: 35px;
    color: rgb(214, 212, 212);
}
.journal-entry-td > a {
    color: rgb(214, 212, 212);
    text-decoration: none;
}
.journal-entry-td>a:hover{
    text-decoration: underline;
}
.table-title > a {
    color: rgb(214, 212, 212);
    text-decoration: none;
}
.table-title>a:hover{
    text-decoration: underline;
}

.journal-entry-td > a > *{
    padding-right: 10px;
    /* color: rgb(214, 212, 212); */
}


.drop-container {
    position: relative;
    
}

.journal-dropdown {
    position: absolute;
    top: 140%;
    right: 0;
    /* border: 2px solid red; */
    padding: 10px;
    border-radius: .25rem;
    background-color: black;
}

.journal-dropdown>button{
    background-color: transparent;
    color: rgb(128, 255, 0);
    border: none;
}
.journal-dropdown>button:hover{
    text-decoration: underline;
}
.journal-dropdown>.delete-button>button{
    background-color: transparent;
    color: rgb(128, 255, 0);
    border: none;
}
.journal-dropdown>.delete-button>button:hover{
    text-decoration: underline;
}

.journal-dropdown>.delete-button-disabled>button:disabled{
    color: grey;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.delete-button-disabled {
    position: relative;
}

.delete-button-disabled::before,
.delete-button-disabled::after {
    --scale: 0;
    --arrow-size: 10px;
    --tooltip-color: rgb(60, 58, 58);

    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: 50ms transform;
    transform-origin: top center;
}

.delete-button-disabled::after {
    --translate-y: calc(100% + var(--arrow-size));

    content: attr(data-tooltip);
    color: rgb(200, 198, 198);
    padding: .2rem;
    border-radius: .25rem;
    text-align: center;
    font-size: 12px;
    width: max-content;
    max-width: 100%;
    background: var(--tooltip-color);
}

.delete-button-disabled:hover::before,
.delete-button-disabled:hover::after {
    --scale: 1;
}

.delete-button-disabled::before {
    --translate-y: var(--arrow-size);

    content: '';
    border: var(--arrow-size) solid transparent;
    border-bottom-color: var(--tooltip-color);
    transform-origin: top center;
}